body {
    font-size: 20px;
    margin: 4em 0;
}

.ui.container {
    max-width: 800px!important;
}

.search-bar {
    margin: 2em 0;
}

.search-bar input {
    /* border-color: #bf51ea!important; */
    /* border: none !important; */
}

.search-bar.ui.action.input:not([class*="left action"]) input:focus {
    border-color: #bf51ea !important;
    border-right-color: #bf51ea !important;
}

/* .hero { */
/*     background-color: #bf51ea; */
/*     border: 4px solid #bf51ea; */
/*     border-radius: 8px; */
/*     margin: 2em 0; */
/*     /\* box-shadow: 0 0 5px #bf51ea; *\/ */
/* } */

.search-bar .ui.button {
    background-color: #bf51ea;
    color: white;
}

.action.input .ui.button {
    font-size: 1em!important;
}

/* .search-bar input::-webkit-input-placeholder { */
/*     color: rgba(191, 81, 234, 0.33) !important; */
/* } */

/* .search-bar input:-moz-placeholder { */
/*     color: rgba(191, 81, 234, 0.33) !important; */
/* } */

/* .search-bar input::-moz-placeholder { */
/*     color: rgba(191, 81, 234, 0.33) !important; */
/* } */

/* .search-bar input:-ms-input-placeholder { */
/*     color: rgba(191, 81, 234, 0.33) !important; */
/* } */

h1, h2, h3, h4 {
    color: #444;
}

a {
    color: #bf51ea;
    font-weight: bold;
}

.ui.list .list>.item>i.icon, .ui.list>.item>i.icon {
    vertical-align: middle;
}

.ui.list .item {
    margin: 1em 0;
    padding: 0;
}

.description {
    line-height: 1.6;
}

.header {
    text-align: center;
    margin: 4em 0;
}

.header h1 {
    font-size: 4em;
}

.header p {
    max-width: 80%;
    margin: 1em auto;
    color: #888;
}

.section {
    margin: 4em 0;
}

.section h2 {
    font-size: 2em;
}

ul {
    line-height: 1.6;
}

p {
    color: #888;
}

strong {
    color: #444;
}

.not-found {
    text-align: center;
}

#mc_embed_signup_results {
    margin: 4em 0;
}